html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
}
.header {
  padding: 2rem;
}

.header__logo {
  background-color: black;
  text-align: center;
  width: 2.2rem;
  display: inline-block;
  color: white;
  font-size: 2.2rem;
  margin-right: 1rem;
}

.header__pagename {
  font-size: 2.4rem;
  font-family: inherit;
  font-weight: 100;
}

main {
  width: 50%;
  margin: 5rem auto;
}

.todo__title {
  color: #2D3748;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.todos {
  width: 100%;
}

.todo__add {
  padding: 0;
  background-color: white;
  outline: none;
  border: none;
  color: #2D3748;
  font-size: 1.7rem;
}

.plus {
  color: black;
  font-weight: bold;
  font-size: 1.9rem;
  margin-right: 0.8rem;
  outline: none;
}

.completedtodos {
  width: 100%;
  margin-top: 5rem;
}

.completedtodos__showbutton {
  color: #383A3F;
  background-color: white;
  display: block;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: auto;
}

.addtodo {
  width: 100%;
}

.addtodo__input {
  width: 100%;
  padding: 0.45rem 0.8rem;
  border: 1px solid #1A202C;
  border-radius: 0.4rem;
  color: #718096;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.addtodo__buttonadd {
  background: #2D3748;
border-radius: 4px;
  color: white;
  font-size: 1.6rem;
  padding: 0.5rem 1.2rem;
  border: none;
  margin-right: 1.2rem;
  outline: none;
}

.addtodo__buttoncancel {
  font-size: 1.6rem;
  color: #2D3748;
  background-color: white;
  border: none;
  outline: none;
  display: inline-block;
  cursor: default;
  padding: 0.5rem 1.2rem;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0.8rem;
  border-bottom: 1px solid #2D3748;
}

.task__container {
  width: 100%;
  margin-bottom: 1.8rem;
}
.task__check {
  color: #2D3748;
  margin-right: 1.2rem;
}

.task__body {
  color: #1F2124;
  font-size: 1.7rem;  
}
.circle__checked {
  display: none;
}
.task__check:hover .circle {
  display: none;
}

.task__check:hover .circle__checked {
  display: inline-block;
}

.completetask {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0.8rem;
  border-bottom: 1px solid rgba(45, 55, 72, 0.5);;
}

.completetask__check {
  color: #969ba3;
  margin-right: 1.2rem;
}

.completetask__body {
  text-decoration-line: line-through;
color: rgba(31, 33, 36, 0.5);
  font-size: 1.7rem;  
}

.task__bottom {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.task__delete {
  border: none;
  background: white;
  outline: none;
  display: inline-block;
  cursor: default;
}
